@use "../abstracts/" as *;

// ===========================================================================
// Drink Search
// ===========================================================================

.drink-search {
	// border: 1px solid green;
	height: 100%;

	&__container {
		border: 1px solid $color-900;
		width: 50%;
		border-radius: $border-radius;
		overflow: hidden;
	}

	&__header {
		z-index: 0;
		position: relative;
		padding: 4rem 3rem;
		background-image: url("../../img/drinksearch/header.jpg");
		background-position: center;
		background-size: cover;
		font-size: 3rem;
		color: $color-500;

		&--shadow {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.85);
		}
	}

	&__main-box {
		padding: 3rem;

		h2 {
			padding: 1rem 0;
			color: $color-300;
		}
	}

	// &__item-box {}

	&__item {
		margin: 1rem 3rem;

		&--hidden {
			display: none;
		}
	}

	&__item-not-found {
		margin: 1rem;
		display: none;

		&--showed {
			display: block;
		}
	}
}
